body {
    margin: auto;
    width: 500px;
    background: url("../img/bg.png");
    color: #58606A;
}

.main {
    display: block;
    width: 100%;
    height: 300px;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0px 10px 20px #000;
    background: #242328;
    border-radius: 10px;
}

.labels_inputs {
    width: 100%;

}

.labels {
    float: left;
    width: 40%;
    line-height: 2em;
}

.inputs {
    float: left;
    width: 60%;
}

.inputs input {
    margin: 3px;
    height: 20px;
    background: #daf4fe;
    border-radius: 5px;
}

#month-date, #day-date {
    width: 25px;
    margin-right: 15px;
}

#year-date {
    width: 50px;
}

.checkbox label {
    position: relative;
    margin: 15px;
    top: 10px;
}

.button-submit {
    position: relative;
    margin: 10px 10px 10px 10px;
    top: 10px;
}

.button-submit #button {
    background: #00aeef;
    border-radius: 5px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #80d6f7;
    color: #fff;
    cursor: pointer;
    width: 480px;
    height: 40px;

}