@font-face {
    src: url("../ex04_fonts/Brandon_med.otf");
    font-family: "Brandon Grotesque Medium", sans-serif;
}

@font-face {
    src: url("../ex04_fonts/Brandon_bld.otf");
    font-family: "Brandon Grotesque Bold", sans-serif;
}

@font-face {
    src: url("../ex04_fonts/Brandon_reg.otf");
    font-family: "Brandon Grotesque Regular", sans-serif;
}

body {
    font-family: "Brandon Grotesque Regular", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 1040px;
    height: 490px;
    margin: 0 auto;
    position: relative;
}

header .logo-circle {
    width: 493px;
    height: 491px;
    background: url("../ex04_img/logo.png") no-repeat;
    position: absolute;
    display: block;
    top: -8px;
    left: 20px;
}

header .first-line {
    margin-top: 8px;
}

header .first-line .left-first-line {
    font-family: "Brandon Grotesque Bold", sans-serif;
    display: inline-block;
    margin-top: 15px;
}

header .first-line .left-first-line a.active {
    font-family: "Brandon Grotesque Bold", sans-serif;
}

header .first-line .left-first-line a.no-active {
    color: rgb(96,161,251);
    font-family: "Brandon Grotesque Regular", sans-serif;
}

header .first-line .right-first-line {
    display: inline-block;
    float: right;
    margin-top: 15px;
}

header .first-line .right-first-line ul {
    margin: 0;
}

header .first-line .right-first-line ul li {
    list-style-type: none;
    display: inline;
}

header .first-line .right-first-line ul li:nth-child(2)::before, header .first-line .right-first-line ul li:nth-child(2)::after {
    content: "|";
    margin: 0 11px;
}

header .header-telephone {
    float: right;
    margin: 16px 0;
    font-size: 23px;
    color: rgb(96,161,251);
}

header .logo-site {
    width: 431px;
    height: 89px;
    background: url("../ex04_img/logo2.png") no-repeat;
    float: right;
    margin-top: 45px;
    clear: both;
}

header .logo-site-caption {
    margin: 27px 5px 60px 0;
    font-family: "Brandon Grotesque Medium", sans-serif;
    display: block;
    float: right;
    clear: both;
}

.header-navigation-line {
    margin-top: -154px;
    width: 100%;
    height: 40px;
    background-color: rgb(233,239,235);
}

.header-navigation-line nav {
    position: absolute;
    left: 630px;
}

.header-navigation-line nav ul {
    margin: 9px 0 0;
    font-size: 18px;
}

.header-navigation-line nav ul li {
    list-style-type: none;
    display: inline;
}

.header-navigation-line nav ul li::after {
    content: "|";
    margin-left: 6px;
}

.header-navigation-line nav ul li:last-child::after {
    content: "";
}

.header-navigation-line a {
    padding-bottom: 3px;
}

.header-navigation-line a:hover {
    border-bottom: 8px solid white;
}

main {
    width: 1040px;
    margin: 0 auto;
}

main .first-line {
    width: 100%;
    height: 200px;
    margin: 72px 0;
}
main .first-line .kashering, main .first-line .kash-img {
    display: inline-block;
    float: right;
}

main .first-line .kash-img {
    width: 319px;
    height: 180px;
    background: url("../ex04_img/img1.jpg");
    margin-left: 42px;
}

main .first-line .kashering h2 {
    text-align: right;
    font-weight: 500;
    font-size: 35px;
    margin: -8px 23px 0 0;
}

main .first-line .kashering ul {
    margin: 20px 0 5px 0;
}

main .first-line .kashering ul li{
    text-align: right;
    list-style-type: none;
    color: rgb(91,102,98);
    font-size: 21px;
    margin-bottom: 2px;
}

main .first-line .kashering span {
    padding-bottom: 5px;
    background:url('../ex04_img/dotted.gif') left bottom repeat-x;
}

main .first-line .kashering ul li::after{
    content: url("../ex04_img/marker.jpg");
    margin-left: 20px;
    vertical-align: middle;
    border-bottom: none;
}

.separator {
    width: 100%;
    height: 2px;
    margin-top: 325px;
    position: absolute;
    background-color: rgb(207,220,216);
}

.separator .images-separators {
    width: 736px;
    margin: 0 auto;
}

.separator img:nth-child(2) {
    margin: 0 290px;
}

main .second-line {
    width: 100%;
}

main .second-line .block2-1, main .second-line .block2-2, main .second-line .block2-3 {
    display: inline-table;
    width: 320px;
    height: 270px;
    margin: 25px 10px;
    text-align: center;
}

main h1 {
    font-weight: 300;
    font-size: 34px;
    color: rgb(96,161,251);
    margin: 0 0 32px 0;
}

main .second-line .bold {
    font-weight: 700;
    font-size: 13px;
}

main .second-line .normal {
    font-size: 13px;
    margin: 22px auto;
}

.after-second-line {
    width: 100%;
    height: 455px;
    background-color: rgb(247,250,249);
    position: absolute;
    top: 1075px;
}

main .third-line {
    width: 100%;
    height: 400px;
    position: relative;
    margin: 54px auto;
    text-align: center;
    color: rgb(140,153,151);
}

main .third-line .block3-1, main .third-line .block3-2, main .third-line .block3-3 {
    width: 250px;
    height: 255px;
    display: inline-table;
    text-align: center;
    margin: 31px 36px 0;
}

main .third-line h1 {
    color: black;
}

main .third-line h2 {
    color: black;
    font-weight: 300;
    font-size: 26px;
}

main .third-line .line-caption {
    font-size: 18px;
}

main .third-line div {
    font-size: 12px;
}

main .forth-line {
    width: 100%;
    height: 402px;
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
    font-size: 14px;
}

main .forth-line h1 {
    color: black;
    margin: 0 0 15px 0;
}

main .forth-line .line-caption {
    margin-bottom: 30px;
}

main .block4-1-1, main .block4-1-2, main .block4-1-3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px;
}

main .block4-2-1, main .block4-2-2, main .block4-2-3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 36px;
}

main .block4-1-1 {
    text-align: right;
}

main .block4-1-3 {
    text-align: left;
}

.separator2 {
    width: 100%;
    height: 2px;
    margin-top: 1715px;
    position: absolute;
    background-color: rgb(207,220,216);
    text-align: center;
}

.yandex-map {
    width: 100%;
    margin: 1730px 0 0 0;
    position: absolute;
    text-align: center;
}

.yandex-map h1 {
    font-weight: 300;
    font-size: 34px;
}

main .fifth-line {
    width: 100%;
    height: 470px;
    border: 1px dotted red;
    margin-top: 650px;
    text-align: center;
}

main .fifth-line .block5-1, main .fifth-line .block5-2 {
    display: inline-table;
    margin: 18px 10px;
}

main .fifth-line .block5-1 {
    width: 590px;
    height: 430px;
    border: 1px solid saddlebrown;
}

main .fifth-line .block5-1-1, main .fifth-line .block5-1-2, main .fifth-line .block5-1-3 {
    display: inline-block;
    vertical-align: middle;
}

main .fifth-line .block5-1-2 {
    margin: 12px 18px 30px;
}

main .fifth-line .block5-1-4 {
    font-size: 25px;
    font-variant: small-caps;
}

main .fifth-line .block5-2 {
    width: 400px;
    height: 430px;
    border: 1px solid darkorchid;
    text-align: left;
}

main .fifth-line .lab1, main .fifth-line .num {
    font-size: 12px;
    color: rgb(90,93,94);
}

main .fifth-line label.chbox {
    font-size: 14px;
    vertical-align: middle;
}

main .fifth-line .chbox input {
    margin: 12px;
    width: 20px;
    height: 20px;
}

main .fifth-line .lab1 {
    display: inline-block;
    margin: 8px 1px;
}

main .fifth-line input[type="text"], main .fifth-line input[type="tel"], main .fifth-line input[type="email"] {
    width: 191px;
    height: 42px;
    border-radius: 10px;
    text-align: left;
    font-size: 20px;
    border: 1px solid rgb(90,93,94);
}

main .fifth-line input[type="number"] {
    width: 42px;
    height: 42px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    border: 1px solid rgb(90,93,94);
}

main .fifth-line input::-webkit-input-placeholder {
    font-size: 20px;
}

main .fifth-line input::-moz-placeholder {
    font-size: 20px;
}
