@font-face {
    src: url("../ex04_fonts/Brandon_med.otf");
    font-family: "Brandon Grotesque Medium", sans-serif;
}

@font-face {
    src: url("../ex04_fonts/Brandon_bld.otf");
    font-family: "Brandon Grotesque Bold", sans-serif;
}

@font-face {
    src: url("../ex04_fonts/Brandon_reg.otf");
    font-family: "Brandon Grotesque Regular", sans-serif;
}

body {
    font-family: "Brandon Grotesque Regular", sans-serif;
    margin: 0;
}

header {
    width: 1040px;
    height: 490px;
    margin: 0 auto;
    position: relative;
}

header .logo-circle {
    width: 493px;
    height: 491px;
    background: url("../ex04_img/logo.png") no-repeat;
    position: absolute;
    display: block;
    top: -8px;
    left: 20px;
}

header .first-line {
    margin-top: 8px;
}

header .first-line .left-first-line {
    font-family: "Brandon Grotesque Bold", sans-serif;
    display: inline-block;
    margin-top: 15px;
}

header a {
    text-decoration: none;
}

header .first-line .left-first-line a.active {
    font-family: "Brandon Grotesque Bold", sans-serif;
    color: black;
}

header .first-line .left-first-line a.no-active {
    color: rgb(96,161,251);
    font-family: "Brandon Grotesque Regular", sans-serif;
}

header .first-line .right-first-line {
    display: inline-block;
    float: right;
    margin-top: 15px;
}

header .first-line .right-first-line ul {
    margin: 0;
}

header .first-line .right-first-line ul li {
    list-style-type: none;
    display: inline;
}

header .first-line .right-first-line ul li:nth-child(2):before, header .first-line .right-first-line ul li:nth-child(2):after {
    content: "|";
    margin: 0 11px;
}

header .header-telephone {
    float: right;
    margin: 16px 0;
    font-size: 23px;
    color: rgb(96,161,251);
}

header .logo-site {
    width: 431px;
    height: 89px;
    background: url("../ex04_img/logo2.png") no-repeat;
    float: right;
    margin-top: 45px;
    clear: both;
}

header .logo-site-caption {
    margin: 27px 5px 60px 0;
    font-family: "Brandon Grotesque Medium", sans-serif;
    display: block;
    float: right;
    clear: both;
}

.header-navigation-line {
    margin-top: -154px;
    width: 100%;
    height: 40px;
    background-color: rgb(233,239,235);
}