body {
    color: white;
    font-family: "Myriad Pro", sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    width: 100%;
    height: 990px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a12ed8+14,5671ec+100 */
    background: rgb(161,46,216); /* Old browsers */
    background: -moz-linear-gradient(left,  rgb(161,46,216) 14%, rgb(86,113,236) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgb(161,46,216) 14%,rgb(86,113,236) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgb(161,46,216) 14%,rgb(86,113,236) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a12ed8', endColorstr='#5671ec',GradientType=1 ); /* IE6-9 */

}

.header-content {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
    border: 1px solid red;
}

.logo-navigation {
    width: 100%;
    height: 58px;
    margin: 50px 0 0 0;
}

.logo, .navigation {
    display: inline-block;
}

.logo {
    width: 155px;
    float: left;
}

.navigation {
    float: right;
    font-size: 18px;
    margin: 7px 0;
}

.nav-ul {
    list-style-type: none;
}

.nav-item {
    display: inline;
}

.nav-item a {
    display: inline-block;
    margin: 0px -2px;
    padding: 11px 20px;
    border-radius: 20px;
}

.nav-item a:hover {
    background-color: #a62ad7;
}